[Desktop Entry]
Type=Application
Name=Absher
Name[ar]=أبشر
GenericName=Absher
GenericName[ar]=أبشر
Comment=Absher Platform
Comment[ar]=الخدمات الإلكترونية لوزارة الداخلية
Terminal=false
Exec=absher
Icon=absher
Categories=Network;
StartupNotify=false
